<h1>Welcome to my travel page!</h1>
<p>This page is da best!</p>

<p>
	<%= @homeland %>
</p>
<ul>
	<% @countries.each do |country| %>
	<li><%= country %><li>
	<% end %>
</ul>

<%= image_tag 'canada.jpg', alt: "Canada", class: "size-down" %>
<%= image_tag 'Italy.jpg', alt: "Italy", class: "size-down" %>
<%= image_tag 'southafrica.jpg', alt: "South", class: "size-down" %>
<%= image_tag 'Australia.jpg', alt: "Australia", class: "size-down" %>
<!-- COMMENTS -->

<br />
<br />
<h3>Array of Images:<h3/>

<% @images.each do |pic| %>
	<%= image_tag pic, class: "size-down" %>
<% end %>
